.product_wrap {
  display: flex;
  height: 230px;
  align-items: center;
}

.product_name {
  display: block;
  padding-bottom: 2px;
}
.product_price {
  display: block;
  font-size: 20px;
  padding-bottom: 6px;
}
.btn {
}

.product_info {
  margin-left: 20px;
}
